<app-topbar></app-topbar>

<div class="board" *ngIf="data$ | async as data">
  <div class="board-header-container">INLINE FORM BOARD</div>
  <div class="columns">
    <div class="column" *ngFor="let column of data.columns">
        <div class="column-title">
            {{column.title}}
        </div>
    </div>
    <inline-form
      class="create-column-form"
      defaultText="Add a List"
      [hasButton]="true"
      buttonText="Add List"
      inputPlaceholder="Add Column Name"
      (handleSubmit)="createColumn($event)">
    </inline-form>
    </div>
</div>
